.btn {
  color: $dark;
  vertical-align: baseline;
  .btn-check:focus + &,
  &:focus {
    outline: 0;
    box-shadow: none;
  }
}
.btn-outline-primary {
  &.active,
  &:hover {
    color: $white;
  }
}
.icon-btn {
  padding: 0;
  color: #ffffff;
  display: flex;
  align-items: center;
  &:hover {
    color: #ffffff;
  }
  .rounded-pill {
    position: relative;
    width: 40px;
    height: 40px;
    font-size: 25px;
  }
  i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
// custom-color
$types: (
  blue: #5274cd,
  red: #de6868,
  brown: #b29076,
  green: #83c986,
  yellow: #edbe62,
  orange: #e88c59,
  grey: #b1b4be
);
@each $name, $color in $types {
  .btn-#{$name} {
    background-color: $color;
    color: #fff;
    &:hover {
      background-color: darken($color, 10%);
      color: #fff;
    }
  }
}
